name: test

on:
    push:
        branches: ['master']
    pull_request:
        branches: ['master']

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4.1.0
              with:
                  version: 10
            - uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  cache: 'pnpm'
            - run: pnpm i
            - run: pnpm test & pnpm typecheck
            - if: github.event_name == 'push'
              run: pnpm bundle:js & pnpm bundle:dts & pnpm doc
            - if: github.event_name == 'push'
              uses: stefanzweifel/git-auto-commit-action@v7
              with:
                  commit_message: Automated bundles + docs update
